@charset "utf-8";
// Import Bulma's core
@import '~bulma/sass/utilities/_all';

$navbar-background-color: $grey-darker;
$navbar-item-hover-background-color: $grey-dark;
$navbar-item-hover-color: $black;
$navbar-item-color: $white;

$main-color: #e9d856;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


