<template>
  <ValidationProvider :rules="rules" v-slot="{ errors, valid }">
    <b-field
      class="input-element"
      v-bind="$attrs"
      :type="{ 'is-danger': errors[0], 'is-success': valid }"
      :message="errors"
    >
      <b-input v-model="innerValue" v-bind="$attrs" />
    </b-field>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  components: {
    ValidationProvider
  },
  props: {
    rules: {
      type: String,
      default: ''
    }
    // must be included in props
  },
  data: () => ({
    innerValue: ''
  }),
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit('input', newVal)
    }
  }
}
</script>

<style lang="scss" scoped>
.input-element {
  margin-bottom: 0.8rem;
}
::v-deep .field.is-floating-label .label {
  font-size: calc(1.3rem * 3 / 4);
}
</style>
