<template>
  <section class="section">
    <div class="container a">
      <div class="contact-form has-text-centered mb-4">MESSAGE ME</div>
      <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false" />
      <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
        <BInputWithValidation rules="required" type="text" label-position="on-border" label="Name" v-model="name" />
        <BInputWithValidation
          rules="required|email"
          type="email"
          label-position="on-border"
          label="Email"
          v-model="email"
        />
        <BInputWithValidation
          rules="required"
          name="Message"
          label-position="on-border"
          type="textarea"
          label="Message"
          v-model="messageContent"
        />
        <div class="has-text-centered">
          <div class="p-0 inline-block">
            <div class="buttons">
              <button class="button is-success" @click="handleSubmit(submit)">
                <span class="icon is-small">
                  <font-awesome-icon icon="envelope" />
                </span>
                <span>Message me</span>
              </button>
              <download-button />
            </div>
          </div>
        </div>
      </ValidationObserver>
    </div>
  </section>
</template>

<script>
import { ValidationObserver } from 'vee-validate'
import BInputWithValidation from './BInputWithvalidation'
import DownloadButton from '../CVDownloader/DownloadButton'
import emailjs from 'emailjs-com'

export default {
  name: 'BuefyForm',
  components: {
    ValidationObserver,
    BInputWithValidation,
    DownloadButton
  },
  data: () => ({
    isFullPage: false,
    isLoading: false,
    email: '',
    name: '',
    messageContent: ''
  }),
  methods: {
    alert() {
      this.$buefy.dialog.alert('Everything looks fine!')
    },
    sendEmail: function() {
      this.isLoading = true
      emailjs
        .send(
          'yili_zhang_email',
          'template_RshPdUly',
          { contact_email: this.email, message: this.messageContent, user_name: this.name },
          'user_2loiSzfOPfIKk7fmwmveM'
        )
        .then(
          () => {
            this.isLoading = false
            this.alert()
          },
          () => {
            this.isLoading = false
          }
        )
    },
    submit() {
      this.sendEmail()
    }
  }
}
</script>

<style lang="scss" scoped>
.section {
  background-color: #f8f8f8;
}

::v-deep .loading-overlay .loading-background {
  background: rgba(248, 248, 248, 0.5);
}

.inline-block {
  display: inline-block;
}
</style>
