<template>
  <div>
    <b-button type="is-success" icon-left="download" @click="prompt">
      Download CV
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'DownloadButton',
  data() {
    return {
      pdfLink: require('../../../public/CV_German_yili.pdf')
    }
  },
  methods: {
    download(dataurl, filename) {
      let a = document.createElement('a')
      a.href = dataurl
      a.setAttribute('download', filename)
      a.click()
    },
    alertCustomError() {
      this.$buefy.dialog.alert({
        title: 'Error',
        message: "Something's not good but I have a custom <b>icon</b> and <b>type</b>",
        type: 'is-danger',
        hasIcon: true,
        icon: 'times-circle',
        iconPack: 'fa',
        ariaRole: 'alertdialog',
        ariaModal: true
      })
    },
    prompt() {
      this.$buefy.dialog.prompt({
        message: `Password?`,
        inputAttrs: {
          type: 'password',
          maxlength: 10
        },
        trapFocus: true,
        onConfirm: password => {
          if (password === '1111') {
            this.download(this.pdfLink.default, 'Lebenslauf_YiliZhang')
          } else {
            this.alertCustomError()
          }
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
