<template>
  <div class="home">
    <hero-page ref="HeroPage" class="HeroPage" />
    <time-line-layout ref="TimeLineLayout" />
    <about-me></about-me>
    <contact-form />
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import HeroPage from '@/components/HeroPage.vue'
import TimeLineLayout from '@/components/TimeLineLayout.vue'
import Footer from '@/components/Footer.vue'
import ContactForm from '@/components/inputs/ContactForm.vue'
import AboutMe from '../components/AboutMe/AboutMe'

export default {
  name: 'home',
  components: {
    HeroPage,
    TimeLineLayout,
    Footer,
    ContactForm,
    AboutMe
  },
  data() {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.navi-bar {
  opacity: 0.99;
}
</style>
