<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Personal website of Yili Zhang • created by Vue.js, Buefy and
        <font-awesome-icon class="heart-icon" icon="heart" :style="{ color: '#DC143C' }" />.
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footer {
  font-family: 'Poppins',serif;
  font-weight: 400;
  background-color: #f8f8f8;
}
.heart-icon {
  margin-left: 2px;
}
</style>
