<template>
  <section class="section">
    <TimeLine />
  </section>
</template>

<script>
import TimeLine from '@/components/TimeLineLayoutComponents/TimeLine.vue'
export default {
  name: 'TimeLineLayout',
  components: {
    TimeLine
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.section {
  color: black;
  background-color: #f8f8f8;
}
</style>
