<template>
  <section class="cd-horizontal-timeline" ref="cd-horizontal-timeline">
    <div class="timeline">
      <div class="events-wrapper">
        <div class="events">
          <ol>
            <li><a href="#0" data-date="01/08/2015" class="selected">Aug 2015</a></li>
            <li><a href="#0" data-date="01/09/2018">Sep 2018</a></li>
            <li><a href="#0" data-date="01/05/2019">May 2019</a></li>
            <li><a href="#0" data-date="01/09/2019">Sep 2019</a></li>
          </ol>
          <span class="filling-line" aria-hidden="true" />
        </div>
        <!-- .events -->
      </div>
      <!-- .events-wrapper -->

      <ul class="cd-timeline-navigation">
        <li><a href="#0" class="prev inactive">Prev</a></li>
        <li><a href="#0" class="next">Next</a></li>
      </ul>
      <!-- .cd-timeline-navigation -->
    </div>
    <!-- .timeline -->

    <div class="events-content">
      <ol>
        <li class="selected" data-date="01/08/2015">
          <h2 class="title">
            University of Duisburg-Essen<br /><img
              class="logo-image"
              src="../../assets/Duisburg-Essen_logo.svg"
              alt="University of Duisburg-Essen"
              width="20%"
              height="20%"
            />
          </h2>
          <p>
            Since 2015 I have studied in Germany. I have a major in electrical and electronic engineering. During my
            university time, I spent time o   Since 2015 I have studied in Germany. I have a major in electrical and electronic engineering. During my
            university time, I spent time o  Since 2015 I have studied in Germany. I have a major in electrical and electronic engineering. During my
            university time, I spent time o  Since 2015 I have studied in Germany. I have a major in electrical and electronic engineering. During my
            university time, I spent time o  Since 2015 I have studied in Germany. I have a major in electrical and electronic engineering. During my
            university time, I spent time o  Since 2015 I have studied in Germany. I have a major in electrical and electronic engineering. During my
            university time, I spent time o
          </p>
        </li>

        <li data-date="01/09/2018">
          <h2 class="title">
            Event title here<br /><img
              class="logo-image"
              src="../../assets/Duisburg-Essen_logo.svg"
              alt="Kiwi standing on oval"
              width="20%"
              height="20%"
            />
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa,
            quia velit nulla adipisci? Con
          </p>
        </li>

        <li data-date="01/05/2019">
          <h2 class="title">
            Event title here<br /><img
              class="logo-image"
              src="../../assets/Duisburg-Essen_logo.svg"
              alt="Kiwi standing on oval"
              width="20%"
              height="20%"
            />
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa,
            quia velit nulla adipisci? Con
          </p>
        </li>

        <li data-date="01/09/2019">
          <h2 class="title">
            Event title here<br /><img
              class="logo-image"
              src="../../assets/Duisburg-Essen_logo.svg"
              alt="Kiwi standing on oval"
              width="20%"
              height="20%"
            />
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa,
            quia velit nulla adipisci? Con
          </p>
        </li>
      </ol>
    </div>
    <!-- .events-content -->
  </section>
</template>

<script>
import $ from 'jquery'
export default {
  name: 'TimeLine',
  data() {
    return {
      eventsMinDistance: 70
    }
  },
  methods: {
    initTimeline: function(timelines) {
      let thisInstance = this
      timelines.each(function() {
        let timeline = $(this),
          timelineComponents = {}
        //cache timeline components
        timelineComponents['timelineWrapper'] = timeline.find('.events-wrapper')
        timelineComponents['eventsWrapper'] = timelineComponents['timelineWrapper'].children('.events')
        timelineComponents['fillingLine'] = timelineComponents['eventsWrapper'].children('.filling-line')
        timelineComponents['timelineEvents'] = timelineComponents['eventsWrapper'].find('a')
        timelineComponents['timelineDates'] = thisInstance.parseDate(timelineComponents['timelineEvents'])
        timelineComponents['eventsMinLapse'] = thisInstance.minLapse(timelineComponents['timelineDates'])
        timelineComponents['timelineNavigation'] = timeline.find('.cd-timeline-navigation')
        timelineComponents['eventsContent'] = timeline.children('.events-content')

        //assign a left postion to the single events along the timeline
        thisInstance.setDatePosition(timelineComponents, thisInstance.eventsMinDistance)
        //assign a width to the timeline
        let timelineTotWidth = thisInstance.setTimelineWidth(timelineComponents, thisInstance.eventsMinDistance)
        //the timeline has been initialize - show it
        timeline.addClass('loaded')

        //detect click on the next arrow
        timelineComponents['timelineNavigation'].on('click', '.next', function(event) {
          event.preventDefault()
          thisInstance.updateSlide(timelineComponents, timelineTotWidth, 'next')
        })

        timelineComponents['timelineNavigation'].on('click', '.prev', function(event) {
          event.preventDefault()
          thisInstance.updateSlide(timelineComponents, timelineTotWidth, 'prev')
        })

        timelineComponents['eventsWrapper'].on('click', 'a', function(event) {
          event.preventDefault()
          timelineComponents['timelineEvents'].removeClass('selected')
          $(this).addClass('selected')
          thisInstance.updateOlderEvents($(this))
          thisInstance.updateFilling($(this), timelineComponents['fillingLine'], timelineTotWidth)
          thisInstance.updateVisibleContent($(this), timelineComponents['eventsContent'])
        })

        //keyboard navigation
        $(document).keyup(function(event) {
          if (event.which == '37' && thisInstance.elementInViewport(timeline.get(0))) {
            thisInstance.showNewContent(timelineComponents, timelineTotWidth, 'prev')
          } else if (event.which == '39' && thisInstance.elementInViewport(timeline.get(0))) {
            thisInstance.showNewContent(timelineComponents, timelineTotWidth, 'next')
          }
        })
      })
    },

    parseDate(events) {
      let dateArrays = []
      events.each(function() {
        let dateComp = $(this)
            .data('date')
            .split('/'),
          newDate = new Date(dateComp[2], dateComp[1] - 1, dateComp[0])
        dateArrays.push(newDate)
      })
      return dateArrays
    },
    minLapse(dates) {
      //determine the minimum distance among events
      let dateDistances = []
      for (let i = 1; i < dates.length; i++) {
        let distance = this.daydiff(dates[i - 1], dates[i])
        dateDistances.push(distance)
      }
      return Math.min.apply(null, dateDistances)
    },
    daydiff(first, second) {
      return Math.round(second - first)
    },
    setDatePosition(timelineComponents, min) {
      for (let i = 0; i < timelineComponents['timelineDates'].length; i++) {
        let distance = this.daydiff(timelineComponents['timelineDates'][0], timelineComponents['timelineDates'][i]),
          distanceNorm = Math.round(distance / timelineComponents['eventsMinLapse']) + 2
        timelineComponents['timelineEvents'].eq(i).css('left', distanceNorm * min + 'px')
      }
    },
    setTimelineWidth(timelineComponents, width) {
      let timeSpan = this.daydiff(
          timelineComponents['timelineDates'][0],
          timelineComponents['timelineDates'][timelineComponents['timelineDates'].length - 1]
        ),
        timeSpanNorm = Math.round(timeSpan / timelineComponents['eventsMinLapse']) + 4,
        totalWidth = timeSpanNorm * width
      timelineComponents['eventsWrapper'].css('width', totalWidth + 'px')
      this.updateFilling(timelineComponents['timelineEvents'].eq(0), timelineComponents['fillingLine'], totalWidth)
      return totalWidth
    },
    updateFilling(selectedEvent, filling, totWidth) {
      //change .filling-line length according to the selected event
      let eventStyle = window.getComputedStyle(selectedEvent.get(0), null),
        eventLeft = eventStyle.getPropertyValue('left'),
        eventWidth = eventStyle.getPropertyValue('width')
      eventLeft = Number(eventLeft.replace('px', '')) + Number(eventWidth.replace('px', '')) / 2
      let scaleValue = eventLeft / totWidth
      this.setTransformValue(filling.get(0), 'scaleX', scaleValue)
    },
    setTransformValue(element, property, value) {
      element.style['-webkit-transform'] = property + '(' + value + ')'
      element.style['-moz-transform'] = property + '(' + value + ')'
      element.style['-ms-transform'] = property + '(' + value + ')'
      element.style['-o-transform'] = property + '(' + value + ')'
      element.style['transform'] = property + '(' + value + ')'
    },
    updateSlide(timelineComponents, timelineTotWidth, string) {
      //retrieve translateX value of timelineComponents['eventsWrapper']
      let translateValue = this.getTranslateValue(timelineComponents['eventsWrapper']),
        wrapperWidth = Number(timelineComponents['timelineWrapper'].css('width').replace('px', ''))
      //translate the timeline to the left('next')/right('prev')
      if (string === 'next') {
        this.translateTimeline(
          timelineComponents,
          translateValue - wrapperWidth + this.eventsMinDistance,
          wrapperWidth - timelineTotWidth
        )
      } else {
        this.translateTimeline(timelineComponents, translateValue + wrapperWidth - this.eventsMinDistance)
      }
    },
    getTranslateValue(timeline) {
      let translateValue
      let timelineStyle = window.getComputedStyle(timeline.get(0), null),
        timelineTranslate =
          timelineStyle.getPropertyValue('-webkit-transform') ||
          timelineStyle.getPropertyValue('-moz-transform') ||
          timelineStyle.getPropertyValue('-ms-transform') ||
          timelineStyle.getPropertyValue('-o-transform') ||
          timelineStyle.getPropertyValue('transform')
      if (timelineTranslate.indexOf('(') >= 0) {
        timelineTranslate = timelineTranslate.split('(')[1]
        timelineTranslate = timelineTranslate.split(')')[0]
        timelineTranslate = timelineTranslate.split(',')
        translateValue = timelineTranslate[4]
      } else {
        translateValue = 0
      }
      return Number(translateValue)
    },
    translateTimeline(timelineComponents, value, totWidth) {
      let eventsWrapper = timelineComponents['eventsWrapper'].get(0)
      value = value > 0 ? 0 : value //only negative translate value
      value = !(typeof totWidth === 'undefined') && value < totWidth ? totWidth : value //do not translate more than timeline width
      this.setTransformValue(eventsWrapper, 'translateX', value + 'px')
      //update navigation arrows visibility
      if (value === 0) {
        timelineComponents['timelineNavigation'].find('.prev').addClass('inactive')
      } else {
        timelineComponents['timelineNavigation'].find('.prev').removeClass('inactive')
      }

      if (value === totWidth) {
        timelineComponents['timelineNavigation'].find('.next').addClass('inactive')
      } else {
        timelineComponents['timelineNavigation'].find('.next').removeClass('inactive')
      }
    },
    updateOlderEvents(event) {
      event
        .parent('li')
        .prevAll('li')
        .children('a')
        .addClass('older-event')
        .end()
        .end()
        .nextAll('li')
        .children('a')
        .removeClass('older-event')
    },

    updateVisibleContent(event, eventsContent) {
      let classEnetering, classLeaving
      let eventDate = event.data('date'),
        visibleContent = eventsContent.find('.selected'),
        selectedContent = eventsContent.find('[data-date="' + eventDate + '"]'),
        selectedContentHeight = selectedContent.height()

      if (selectedContent.index() > visibleContent.index()) {
        classEnetering = 'selected enter-right'
        classLeaving = 'leave-left'
      } else {
        classEnetering = 'selected enter-left'
        classLeaving = 'leave-right'
      }

      selectedContent.attr('class', classEnetering)
      visibleContent
        .attr('class', classLeaving)
        .one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function() {
          visibleContent.removeClass('leave-right leave-left')
          selectedContent.removeClass('enter-left enter-right')
        })
      eventsContent.css('height', selectedContentHeight + 'px')
    },
    showNewContent(timelineComponents, timelineTotWidth, string) {
      //go from one event to the next/previous one
      let visibleContent = timelineComponents['eventsContent'].find('.selected'),
        newContent = string === 'next' ? visibleContent.next() : visibleContent.prev()

      if (newContent.length > 0) {
        //if there's a next/prev event - show it
        let selectedDate = timelineComponents['eventsWrapper'].find('.selected'),
          newEvent =
            string === 'next'
              ? selectedDate
                  .parent('li')
                  .next('li')
                  .children('a')
              : selectedDate
                  .parent('li')
                  .prev('li')
                  .children('a')

        this.updateFilling(newEvent, timelineComponents['fillingLine'], timelineTotWidth)
        this.updateVisibleContent(newEvent, timelineComponents['eventsContent'])
        newEvent.addClass('selected')
        selectedDate.removeClass('selected')
        this.updateOlderEvents(newEvent)
        this.updateTimelinePosition(string, newEvent, timelineComponents)
      }
    },

    updateTimelinePosition(string, event, timelineComponents) {
      //translate timeline to the left/right according to the position of the selected event
      let eventStyle = window.getComputedStyle(event.get(0), null),
        eventLeft = Number(eventStyle.getPropertyValue('left').replace('px', '')),
        timelineWidth = Number(timelineComponents['timelineWrapper'].css('width').replace('px', '')),
        timelineTotWidth = Number(timelineComponents['eventsWrapper'].css('width').replace('px', ''))
      let timelineTranslate = this.getTranslateValue(timelineComponents['eventsWrapper'])

      if (
        (string === 'next' && eventLeft > timelineWidth - timelineTranslate) ||
        (string === 'prev' && eventLeft < -timelineTranslate)
      ) {
        this.translateTimeline(timelineComponents, -eventLeft + timelineWidth / 2, timelineWidth - timelineTotWidth)
      }
    },

    elementInViewport(el) {
      let top = el.offsetTop
      let left = el.offsetLeft
      let width = el.offsetWidth
      let height = el.offsetHeight

      while (el.offsetParent) {
        el = el.offsetParent
        top += el.offsetTop
        left += el.offsetLeft
      }

      return (
        top < window.pageYOffset + window.innerHeight &&
        left < window.pageXOffset + window.innerWidth &&
        top + height > window.pageYOffset &&
        left + width > window.pageXOffset
      )
    }
  },
  mounted() {
    let timelines = $('.cd-horizontal-timeline')
    if (timelines.length > 0) {
      this.initTimeline(timelines)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
/*
  important ro reset all element at the beginning
  */
@import 'colors';
@import '~reset-css/reset.css';
.cd-horizontal-timeline {
  font-family: 'Poppins',serif;
  font-weight: 400;
  position: relative;
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient(left, #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient(right, #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $main-color;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: $main-color;
  border-color: $main-color;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: $main-color;
  border-color: $main-color;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: $main-color;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('../../assets/cd-arrow.svg') no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: $main-color;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  /*font-weight: bold;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;*/
}
.cd-horizontal-timeline .events-content em {
  display: block;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
}
.cd-horizontal-timeline .events-content em,
.cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    //font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    // font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    // font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.logo-image {
  margin-top: 1rem;
}
</style>
