<template>
  <div id="app" ref="app" class="has-text-weight-semibold">
    <div id="nav">
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'app',
  mounted() {}
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,800&display=swap');
#app {
  background-color: #f8f8f8;
  /* set all website background color as grey */
}
</style>
