<template>
  <section class="section">
    <div class="container">
      <div class="about-me mb-6">
        <img class="me" src="../../assets/me.png" alt="me photo" />
        <h2 class="title is-3">Hi.</h2>
        <p class='paragraph'>
          I'm a web developer based in Germany. <br />
          I studied electrical and electronic engineer in Germany. <br />
          I have my passion for electrical stuff and programming.
        </p>
      </div>
      <div class="about-me mb-6">
        <img class="me" src="../../assets/me2.png" alt="me photo" />
        <h2 class="title is-3">What I can do?</h2>
        <p class='paragraph'>
          I'm a web developer based in Germany. <br />
          I studied electrical and electronic engineer in Germany. <br />
          I have my passion for electrical stuff and programming.
        </p>
      </div>
      <div class="about-me">
        <img class="me" src="../../assets/me3.png" alt="me photo" />
        <h2 class="title is-3">Want to know about me?</h2>
        <p class='paragraph'>
          I'm a web developer based in Germany. <br />
          I studied electrical and electronic engineer in Germany. <br />
          I have my passion for electrical stuff and programming.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ContactFormLayout',
  components: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import 'colors';
.paragraph {
  font-weight: 400;
}
.about-me {
  font-family: 'Poppins', serif;
  text-align: center;
}
.title {
  color: $main-color;
}
.me {
  width: 150px;
  height: 150px;
}
</style>
